
@{
    ViewBag.Title = "About";
}
<style>
    .about {
         background-image: url('https://th.bing.com/th/id/OIP.7LKxWq9Xco8nl6eayg4m0AHaEK?pid=ImgDet&rs=1'); 
            background-size: 100% 100%;
            padding:10%;
            color:white;
    }
</style>

<div  class="about" >
    <h2>About us</h2>
   
        <div >
            You can gain access to a world of education through My Way,  online learning provider. Our robust catalog of credit-bearing, professional, and free and open content is developed by Stanford faculty across the university, providing a variety of ways for you to expand your knowledge, advance your career, and enhance your life.

        </div>

        <div>
            My Way is operated and managed by the Stanford Center for Professional Development (SCPD). SCPD works closely with Stanford schools, departments, programs, and centers to design and deliver engaging, high-quality online, in-person, and blended learning experiences to both matriculated students and a global audience of learners.
        </div>
        <div>
            Our Community
            Join a global community of learners, working professionals, academia, and organizations. Learn more about our global community
        </div>
        <div>
            My Way Credentials
           It offers a wide range of educational opportunities designed to help you meet your personal learning goals, wherever you are in your life or career.
        </div>
   
</div>